---
import "../styles/global.css";


---

<div id="container" class="flex min-w-screen">
  <div class="main-column w-full min-h-screen bg-red-200">To Do</div>
  <div class="main-column w-full min-h-screen bg-green-200">In Progress</div>
  <div class="main-column w-full min-h-screen bg-yellow-200">Done</div>
</div>
