---
import "../styles/global.css";
import "../styles/drag-drop.css";
---

<div id="container" class="flex min-w-screen">
  <div class="main-column w-full min-h-screen bg-red-200">
    <h2>To Do</h2>
    <div class="drop-task" ondrop="drop(event)" ondragover="allowDrop(event)">
      <div
        class="draggable-task"
        id="draggable"
        draggable="true"
        ondragstart="drag(event)"
      >
        <span>please drag me</span>
      </div>
    </div>
  </div>
  <div class="main-column w-full min-h-screen bg-green-200">
    <h2>In Progress</h2>
    <div class="drop-task" ondrop="drop(event)" ondragover="allowDrop(event)">
      <div
        class="draggable-task"
        id="draggable2"
        draggable="true"
        ondragstart="drag(event)"
      >
        <span>please put me under</span>
      </div>
    </div>
  </div>
  <div class="main-column w-full min-h-screen bg-yellow-200">Done</div>
</div>

<script is:inline>
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
    event.dataTransfer.setDragImage();
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
  }
</script>
